[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
django-crispy-forms = "*"
gunicorn = "*"
mysqlclient = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.11"
