<footer class="footer" style="">
  <div class="w-100 clearfix">
    <span class="text-center text-sm-left d-md-inline-block">
      <strong>
        Copyright &copy; 2023
        <a href=""> Estimating Future Revenue by Predicting The Amount of Product </a>.
      </strong>
      All rights reserved.
    </span>
    <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">
      Designed by
      <a href="#" class="text-dark" target="_blank">
        <strong>Sande Emmanuel</strong>
      </a>
    </span>
  </div>
</footer>
