{% extends "dashboard/main.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block main_content%}

    <div class="main-content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <div class="page-header-title">
                <i class="ik ik-clipboard bg-info"></i>
                <div class="d-inline">
                  <h5>Revenue</h5>
                  <span> Predicted Revenue </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">
                      <i class="ik ik-home"></i> Home
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'products_list' %}">
                      <i class="ik ik-clipboard"></i> Product List
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Predicted Revenue
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <hr/>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3>Predicted Revenue for {{ product.name }}</h3>
              </div>
              <div class="card-body">
                <div class="container mt-4">
                  <img src="{{ plot_path }}" alt="Predicted Revenue Plot" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
